@charset "UTF-8";
@import url("../fonts/DINWebPro_Light/stylesheet.css");
@import url("../fonts/DINWebPro_Bold/stylesheet.css");
@import url("../fonts/DINWebPro_Regular/stylesheet.css");
@import url("../fonts/DINWebPro_Black/stylesheet.css");

body {
	font-family: "DINWebPro Light";
	color: #FFFFFF;
	background-color: #1B1B1B;
}
.container {
	margin-top: 3%;
	margin-bottom: 5%;
}
footer {
	margin-top: 10%;
	margin-bottom: -1%;
}
.container .row.footer {
	border-top: 0.05em solid #FFD01F;
	padding-top: 2%;
}
.row {
	padding-top: 5%;
}
.container-fluid .row.text-center {
	background-color: #FFD301;
	padding-bottom: 25px;
	padding-top: 25px;
	color: #000000;
}
.nav-link {
	color: #FFFFFF;
}
ul ul a {
	color: #FFFFFF;
}
.navbar.fixed-top.navbar-expand {
	top: 1em;
	left: 1em;
}
.navbar.fixed-top.navbar-expand #navbarSupportedContent1 {
	position: fixed;
	top: 2em;
	right: 2em;
}
.jumbotron.text-center.mt-2 {
	background-color: #000000;
	color: #FFD01F;
	font-family: "DINWebPro Regular";
	font-size: 2em;
}
a {
	color: #FFFFFF;
}
.container .row.footer .row {
	margin-left: 20%;
	margin-top: -4%;
}
.container-fluid .row .img-fluid {
	width: 100%;
	height: 100%;
	margin-top: -70px;
}
#cherif {
	background-color: #3B3B3B;
}
#FD {
	background-color: #3B3B3B;
}
#interior {
	background-color: rgba(59,59,59,1.00);
}
#khedr {
	display: inline;
	width: 300px;
	position: relative;
	right: -1em;
}
#bio {
	background-color: rgba(255,255,255,0.21);
	padding-top: 14em;
	padding-left: 3em;
}
#about {
	margin-top: 15%;
	position: relative;
	left: -4%;
}
#new {
}
#Marg {
	margin-bottom: 3em;
}
#text {
}
#fluidtext {
	font-size: 7.2vw;
	text-align: left;
	line-height: 100%;
	margin-top: 15rem;
	padding-left: 5%;
	font-family: "DINWebPro Black";
}
