@charset "UTF-8";
@import url("../fonts/DINWebPro_Light/stylesheet.css");
@import url("../fonts/DINWebPro_Bold/stylesheet.css");
@import url("../fonts/DINWebPro_Regular/stylesheet.css");
@import url("../fonts/DINWebPro_Black/stylesheet.css");
@import url("../fonts/DINWebPro_Medium/stylesheet.css");

html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
  	padding: 0;
}
/* body style */

body {
	font-family: "DINWebPro Light";
	color: #FFFFFF;
	background-color: #1B1B1B;
}

a:hover {
	color: #FFB800;
	text-decoration: none;
}
a:active {
	color: #FFB800;
	text-decoration: none;
}
     a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.container {
	margin-top: 5%;
	margin-bottom: 5%;
}
.nav-link {
	color: #FFFFFF;
}
.navbar.fixed-top.navbar-expand {
	top: 1em;
	left: 1em;
	border-width: 0%;
}
.navbar.fixed-top.navbar-expand #navbarSupportedContent1 {
	position: fixed;
	top: 2em;
	right: 2em;
}
.jumbotron.text-center.mt-2 {
	background-color: #000000;
	color: #FFB800;
	font-family: "DINWebPro Light";
	font-size: 2em;
}
a {
	color: #FFFFFF;
}
.container-fluid .row .img-fluid {
	width: 100%;
	height: 100%;
	margin-top: -70px;
}
.collage {
	margin-bottom: 7rem;
}
.text-left {
	color: rgba(255,255,255,1.00);
}
.Other-BG {
	background-color: rgba(59,59,59,1.00);
}
#bio {
	padding: 13rem 3rem 3rem;
	background-image: -webkit-linear-gradient(234deg,rgba(255,166,46,1.00) 0%,rgba(234,77,44,1.00) 100%);
	background-image: -moz-linear-gradient(234deg,rgba(255,166,46,1.00) 0%,rgba(234,77,44,1.00) 100%);
	background-image: -o-linear-gradient(234deg,rgba(255,166,46,1.00) 0%,rgba(234,77,44,1.00) 100%);
	background-image: linear-gradient(216deg,rgba(255,166,46,1.00) 0%,rgba(234,77,44,1.00) 100%);
	box-sizing: inherit;
	position: relative;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}
#Marg {
	margin-bottom: 3em;
}
#fluidtext {
	font-size: 7.2vw;
	text-align: left;
	line-height: 100%;
	margin-top: 15rem;
	padding-left: 5%;
	font-family: "DINWebPro Black";
	padding-bottom: 7rem;
}
#accordion {
	margin-top: 5rem;
}
.modal-title {
	color: rgba(255,184,0,1.00);
	font-size: 2rem;
}
.foota {
	border-top: thin solid rgba(255,184,0,1.00);
	text-align: center;
	font-size: 0.9rem;
	padding-top: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 7rem;
}
.portrait {
	box-sizing: content-box;
	padding-right: 0rem;
	padding-left: 0rem;
	padding-top: 0rem;
	position: relative;
}
.about {
	margin-top: 10rem;
}
